# This is Git's per-user configuration file.
[user]
	name = Tony Lelm
	email = tony.lelm@hitachivantara.com
[credential]
	helper = store
	UseHttpPath = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	ff = only
[init]
	defaultBranch = main
